*,
::before
::after {
  padding:0;
  margin:0;
  box-sizing: border-box
}

h1{
  text-align: center;
  font-family:"Raleway";
}

body{
  font-family:"Baskervville";
  background-color:rgb(224,224,224);
  color:rgb(102,0,0);
}

heading{
  width:80%;
  background-color:rgb(96,96,96);
  margin-left:auto;
  margin-right:auto;
  padding:20px;
}
